body {
  margin: 2%;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

a {
  font-family: helvetica neue,Helvetica,Arial;
  color: black;
  text-decoration: none;
}

p {
  font-family: helvetica neue,Helvetica,Arial;
  font-size: 1.5rem;
}

h1 {
  font-size: 8rem;
  font-family: helvetica neue,Helvetica,Arial;
  margin-bottom: 0;
  font-weight: 400;
}

h2{
  font-size: 2rem;
  font-family: helvetica neue,Helvetica,Arial;
  font-weight: 400;
  margin: 10% 0 0 0;
}

h4 {
  margin: 0;
  margin-bottom: .5rem;
}

header {
  width: 100%
}

.quote { 
  margin: 10% -15%; /* Center the quote horizontally and adjust vertical margin */
  display: block;
  font-size: 30px;
  font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-style: italic;
}

.live {
  font-size: 1.5rem;
  font-family: helvetica neue,Helvetica,Arial;
  display: inline-block;
  margin-top: 10%;
  text-decoration: none;
  color: blue;
}

.live:hover {
  opacity: 60%;
}

.Subtitle {
  padding: 0;
  color: #B0B0B0;
  text-align: center;
}

.about-button {
  font-size: 24px;
  font-style: italic;
  /* position: absolute; top: 4%; right: 3%; */
}

.about-button:hover{
  opacity: 50%;
  cursor: help;
}

#scaling-paragraph {
  transition: transform 0.5s;
  transform: scale(0,1);
  transform-origin: left;
  width: 100%;
  margin-top: 2%;
  display: flex;

}

.shrink-pic {
  margin-right: 1%;
  max-width: 20%;
  flex: 1; /* Takes up 1/3 of the available space */
}

.niks {
  padding: 0;
  margin: 0;
  text-align: justify;
}


/* Creative  Code */

.iframe-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin-top: 8%;
}

iframe {
  border: none;
}


/* main */


.intro {
  font-family: helvetica neue,Helvetica,Arial;
    font-weight: normal;
    font-size: 40px;
}

.about-text {
  width: 40vw;
}



span {
    color: #131313;
    font-weight:800;
}



.buttons a{
    color: #131313;
    font-family: helvetica neue,Helvetica,Arial;   
    font-weight: normal;
    font-size: 20px;
}



/* main */

.margin-top:hover p {
  color: black;
}



.work-link {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.work-link a {
  text-decoration: none;
  color: inherit;
}

.work-link h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: helvetica neue,Helvetica,Arial;
  font-weight: 400;

}

.work-link p {
  margin: 0;
  color: #C0C0C0;
  font-size: 1.5rem;
}

.work-link div {
  display: inline;
}

.section-divider {
  border-top: 1px solid #C0C0C0;
  margin-top: 20px;
}

.work-list {
  position: fixed; /* Fixed position at the bottom of the screen */
  bottom: 0; /* Stick to the bottom */
  width: 95%; /* Full width */
}

.work-list a {
  padding-right: 20px;
  font-size: 50px;
}

@media (max-width: 2000px) {
  {.work-link h4 {
  font-size: 1rem;

    .work-link p {
  margin: 0;
  color: #C0C0C0;
  font-size: 1rem;
}

}
  }

.parent-Sir {
    display: flex;
}

.parent-Sir img {
    width: 620px;
    height: 700px;
    object-fit: cover; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust as needed for spacing between images */
}

.parent-MD {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent-MD img {
  margin:2.5rem;
  width: 70%;
}

.mobile {
  width: 10px;
  height: 300px;
}


/* Add a circle bullet symbol between the links */
.work-list p{
  color: black; /* Color of the circle */
  font-size: 40px; /* Size of the circle */
  margin: 20px 0px; /* Add spacing around the circle */
}
  


 
/* Style for link hover */
.work-list a:hover {
  color: blue; /* Change text color to blue on hover */
  cursor: pointer; /* Change cursor on hover to indicate interactivity */
}

/* Style for the floating bar */
.floating-bar {
  content: attr(data-hover-text);
  display: block;
  background-color: white;
  color: black;
  border: black 2px solid;
  font-family: helvetica neue,Helvetica,Arial;;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 14px;
  transition: all 0.2s ease;
  z-index: 999;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  position: relative;    
  font-family: helvetica neue,Helvetica,Arial;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  color: #131313;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  font-family: helvetica neue,Helvetica,Arial;

}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}






/* Work pages */

/* Kbs */

.rotate {
  transform: rotate(-90deg);
}




/* Pages Global - Align right - no meta */ 

.center-images {
  display: flex;
  justify-content: center;
}


  .titel {
    text-align: center;
  }



  .align  {
    text-align: left;
    float: center;
    margin: auto;
    margin-bottom: 8%;
    width: 50%;
  }

  .align-video {
    text-align: left;
    float: center;
    margin: auto;
    width: 50%;
  }

  .align-work {
    text-align: left;
    float: center;
    margin: auto;
    width: 50%;
    margin-bottom: 8%;
    margin-top: 10%;


  }


/* 2x... grid 

  .parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 0px;
    } */ 

    .parent-1 {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 2.5rem;
      grid-row-gap: 0px;
      }
    
      .div1 { grid-area: 1 / 1 / 2 / 2; }
      .div2 { grid-area: 1 / 2 / 2 / 3; }

      .playonhover {
        color: #D9D9D9;
      }

      /*
    .div3 { grid-area: 2 / 1 / 3 / 3; }
    .div4 { grid-area: 2 / 3 / 3 / 5; }
    .div5 { grid-area: 3 / 1 / 4 / 3; }
    .div6 { grid-area: 3 / 3 / 4 / 5; }
    .div7 { grid-area: 4 / 1 / 5 / 3; }
    .div8 { grid-area: 4 / 3 / 5 / 5; }*/

video {
width: 100%;}

.border {
  margin-top: 2%;
  border: 10px solid #131313;
  border-radius: 10px;
  overflow: hidden;
}


/* LL */

.image-container-LL {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container-LL img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}



.containerLL {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sizeLL {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .containerLL {
      grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) {
  .image-container-LL img {
      width: calc(33.33% - 20px);
  }
}




/* Powned */

.Pow {
  display: inline-block;
}

.image-container {
  display: flex;
  justify-content: space-between; /* Distribute space between images */
  align-items: center; /* Center vertically */
}

.image-container img {
  width: 18%; /* Set the width of the images */
  height: auto; /* Maintain aspect ratio */
}

.size {
  width: 100%;
}

/* Verso */


.float-right {
  float: left;
  text-align: center;
  width: 100%;
  margin-left: -20%;
}



.img {
  width: 40%;
  float: right;
  margin-top: 4%;
  margin-right: 2%;
  margin-bottom: 15%;
}

.img-1 {
  width: 40%;
  float: right;
  margin-top: 40%;
  margin-right: 6%;
}

.img-2 {
  width: 40%;
  float: right;
  margin-top: 4%;
  margin-right: 6%;
}


.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #1B1B19;
  padding-bottom: 8%;
}

.gallery img {
  width: 80%;
  margin-top: 8%;
}

.maps { 
  display: inline-block;
  margin-bottom: 4%;
}

.img-6 {
  width: 70%;
  float: right;
}

.img-7 {
  width: 55%;
  float: left;
}

.img-8 {
  width: 40%;
  float: right;
}

.img-9 {
  width: 40%;
  float: right;
}

.img-10{
  width: 55%;
  float: left;
}



/* Sircle: carousel */
.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
}

.video-container {
  width: 70%;
  min-width: 70%;
  margin-right: 3%;
  
}

.carousel video {
  width: 100%;
}

.carousel-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

button {
  color: black;
  background-color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  border: black 2px solid;
}

button:hover {
  background-color: black;
  color: white;

}






  /* Creative coding */

.ondertitel {
  margin-top: 0;
  text-align: center;
}  


#canvas-section {
  margin: 4rem 0 0 2rem;
}

  /* footer */

footer {
  margin-top: 10%;
  text-align: right;
}


.big {
  margin: 0;
  font-size: 1.2rem;

}

.mobile-message {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  body.no-scroll header,
  body.no-scroll main {
      display: none;
  }

  body.no-scroll .mobile-message {
      display: block;
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
  }
}








#scaling-paragraph {
  transition: transform 1s;
}





/* Fab page */


.logo-fab {
  margin-left: -5%;
  margin-bottom: -15%;

  width: 50%;
}

ul {
  list-style-type:circle;
  font-size: 24px;
  font-family: helvetica neue,Helvetica,Arial;
}

.blue {
  color: blue;
  font-weight: 400;
}

li:hover {
  opacity: 50%;
}


/* Responsive styless */
@media (max-width: 1400px) {
  .intro {
      font-size: 35px;
  }

  .about-text {
    width: 70vw;
  }

}

@media (max-width: 1550px) {
  .work-list a {
    font-size: 40px;
  }

  .niks {
    font-size: 20px;
  }

}

